/CS301_Class.cydsn/CortexM3
/CS301_Class.cydsn/CortexM0
/CS301_Class.cydsn/ARM_GCC_*
/CS301_Class.cydsn/ARM_MD*
/CS301_Class.cydsn/Debug/
/CS301_Class.cydsn/Release/

*.bak
*.tmp
*.log
*.dep

*.hex
*.elf
*.map
*.lst

*.o
*.obj

*.pdb

*.cyprj.*.user
